In [1]:
from __future__ import print_function
import os
import sys
sys.path.append('../')
%matplotlib inline

In [2]:
import local_env
import utils.service as us
import utils.viewer as uv
reload(us)
reload(uv)
from utils.service import ClusterService
from utils.viewer import ClusterViewer

---
#### ENV VARS

In [3]:
None==os.environ.get('table')

True

In [4]:
local_env.export()

EXPORTING dev ENV:
	width: 5
	iterations: 25
	csv_bucket: gfw-clusters-test
	url: http://wri-tiles.s3.amazonaws.com/glad_prod/tiles
	min_count: 25
	bucket: wri-tiles
	zoom: 12

In [5]:
os.environ.get('table')

---
### ClusterService

In [6]:
drc_bounds=[[12.1823368669, -13.2572266578], [31.1741492042, 5.25608775474]]

In [7]:
c=ClusterService(bounds=drc_bounds)
c.request_size()

46221

In [8]:
%time c.run()
print('NB ERRORS:',c.errors().shape[0])
print('NB CLUSTERS:',c.dataframe().shape[0])

CPU times: user 2min 57s, sys: 34.9 s, total: 3min 32s
Wall time: 31min 27s
NB ERRORS: 9323
NB CLUSTERS: 107928

In [9]:
filename=c.name()
print('FILE WILL BE SAVED TO: {}'.format(filename))
%time c.save()

FILE WILL BE SAVED TO: clusters_2015-01-01:2025-01-01_2186:1988:2402:2200_12:5:25:25
CPU times: user 13.8 s, sys: 2.7 s, total: 16.5 s
Wall time: 1min 47s

In [10]:
print("DATAFRAME: ")
c.dataframe().sample(5)

DATAFRAME:

,count,area,min_date,max_date,longitude,latitude,x,y,timestamp
88094,73,391,20150506,20171204,-6.980484,23.232077,2312,2127,20180208::00:34:33
3738,113,799,20150412,20170721,-0.761007,24.205767,2323,2056,20180208::00:51:36
43658,88,498,20150309,20180127,2.443652,23.054228,2310,2020,20180208::00:40:38
74901,53,472,20150513,20170922,-3.385436,23.257238,2312,2086,20180208::00:36:09
2027,98,788,20150506,20171110,-2.294194,24.102367,2322,2074,20180208::00:54:04

In [11]:
print("ERRORS: ")
c.errors().head()

ERRORS:

,index,z,x,y,centroid_longitude,centroid_latitude,error,error_trace
0,0,12,2186,1995,12.173024,4.609106,"Could not connect to the endpoint URL: ""https:...",service.1
1,1,12,2186,1996,12.173024,4.521495,"Could not connect to the endpoint URL: ""https:...",service.1
2,2,12,2186,2100,12.173024,-4.609450,"Could not connect to the endpoint URL: ""https:...",service.1
3,3,12,2186,2101,12.173024,-4.697051,"Could not connect to the endpoint URL: ""https:...",service.1
4,4,12,2186,2102,12.173024,-4.784641,"Could not connect to the endpoint URL: ""https:...",service.1

In [12]:
c.errors().tail()

,index,z,x,y,centroid_longitude,centroid_latitude,error,error_trace
9318,9318,12,2402,2196,31.157399,-12.940490,http://wri-tiles.s3.amazonaws.com/glad_prod/ti...,handler.2
9319,9319,12,2402,2197,31.157399,-13.026134,http://wri-tiles.s3.amazonaws.com/glad_prod/ti...,handler.2
9320,9320,12,2402,2198,31.157399,-13.111748,http://wri-tiles.s3.amazonaws.com/glad_prod/ti...,handler.2
9321,9321,12,2402,2199,31.157399,-13.197332,http://wri-tiles.s3.amazonaws.com/glad_prod/ti...,handler.2
9322,9322,12,2402,2200,31.157399,-13.282887,http://wri-tiles.s3.amazonaws.com/glad_prod/ti...,handler.2

In [13]:
del(c)

---
# ERRORS

In [14]:
reload(us)
reload(uv)
from utils.service import ClusterService
from utils.viewer import ClusterViewer

In [15]:
%time c=ClusterService.read(filename)

CPU times: user 7.75 s, sys: 582 ms, total: 8.33 s
Wall time: 17.1 s

In [16]:
c.dataframe().sample(5)

,count,area,min_date,max_date,longitude,latitude,x,y,timestamp
27250,60,553,20150529,20170829,-3.984262,23.494370,2315,2093,20180208::00:42:56
34573,90,821,20150430,20180131,3.355846,28.774357,2375,2009,20180208::00:41:54
881,171,1012,20150709,20171002,-1.348221,25.468290,2337,2063,20180208::00:57:49
39181,79,571,20150313,20171112,-2.682613,27.993336,2366,2078,20180208::00:41:16
102303,31,242,20150424,20180117,2.807240,20.046645,2276,2016,20180208::00:32:47