In [1]:
from __future__ import print_function
import os
import sys
sys.path.append('../')
%matplotlib inline

In [2]:
import local_env
import utils.service as us
import utils.viewer as uv
reload(us)
reload(uv)
from utils.service import ClusterService
from utils.viewer import ClusterViewer

---
#### ENV VARS

In [3]:
None==os.environ.get('table')

True

In [4]:
local_env.export()

EXPORTING dev ENV:
	width: 5
	iterations: 25
	table: GFW_GLAD_CLUSTER.DEV.1
	url: http://wri-tiles.s3.amazonaws.com/glad_prod/tiles
	min_count: 25
	bucket: wri-tiles
	zoom: 12

In [5]:
os.environ.get('table')

'GFW_GLAD_CLUSTER.DEV.1'

---
### ClusterService

In [6]:
c=ClusterService(tile_bounds=[[1374, 2090],[1394, 2193]])
c.request_size()

2184

In [7]:
# scale up write capacity and check status
c.scale(wup=True)

u'UPDATING'

In [10]:
c.status()

u'ACTIVE'

In [11]:
%time c.run(max_processes=500)
print(c.errors().shape)
c.errors().sample(10)

CPU times: user 21.1 s, sys: 9.11 s, total: 30.2 s
Wall time: 8min 45s
(1620, 8)

,index,z,x,y,centroid_latitude,centroid_longitude,error,error_trace
76,76,12,1374,2187,-12.168394,-59.194164,'NoneType' object is not iterable,service
315,315,12,1377,2177,-11.307877,-58.930492,"Could not connect to the endpoint URL: ""https:...",service
1603,1603,12,1394,2169,-10.617587,-57.436351,"Could not connect to the endpoint URL: ""https:...",service
1248,1248,12,1389,2111,-5.572421,-57.875804,"Could not connect to the endpoint URL: ""https:...",service
1295,1295,12,1389,2186,-12.082464,-57.875804,"Could not connect to the endpoint URL: ""https:...",service
1002,1002,12,1385,2193,-12.683383,-58.227367,'NoneType' object is not iterable,service
1408,1408,12,1391,2138,-7.928845,-57.700023,'NoneType' object is not iterable,service
865,865,12,1384,2110,-5.484940,-58.315257,"Could not connect to the endpoint URL: ""https:...",service
1441,1441,12,1392,2090,-3.732880,-57.612132,"Could not connect to the endpoint URL: ""https:...",service
999,999,12,1385,2190,-12.426016,-58.227367,"Could not connect to the endpoint URL: ""https:...",service

In [12]:
print(c.view().shape)
c.view().sample(10)

(4020, 9)

,count,area,min_date,max_date,latitude,longitude,x,y,timestamp
3706,81,331,20150922,20171013,-10.853617,-58.438649,1383,2172,20180131::01:22:18
870,238,368,20150203,20160824,-12.703894,-57.658318,1391,2193,20180131::01:22:42
1253,314,416,20150331,20171005,-12.317947,-57.731733,1391,2189,20180131::01:22:38
3294,32,120,20150501,20170809,-9.803829,-58.964614,1377,2160,20180131::01:22:20
3299,623,1109,20150501,20160213,-9.818433,-58.957721,1377,2160,20180131::01:22:20
3095,471,714,20160213,20180116,-11.275767,-58.824334,1378,2177,20180131::01:22:22
3620,30,23,20170926,20180116,-11.058341,-59.011834,1376,2174,20180131::01:22:19
2564,101,275,20151017,20171130,-9.983108,-57.966452,1388,2162,20180131::01:22:26
2158,132,447,20151009,20160520,-9.222553,-57.758961,1390,2153,20180131::01:22:29
2345,57,616,20160824,20160824,-10.516279,-57.749655,1390,2168,20180131::01:22:28

---

In [13]:
c=ClusterService(tile_bounds=[[2200, 2217],[2408, 2184]])
print(c.request_size())

7106

In [14]:
%time c.run(max_processes=500)
print(c.errors().shape)
c.errors().sample(10)

CPU times: user 25 s, sys: 10.7 s, total: 35.7 s
Wall time: 1min 6s
(6967, 8)

,index,z,x,y,centroid_latitude,centroid_longitude,error,error_trace
861,861,12,2225,2195,-12.854817,15.600758,http://wri-tiles.s3.amazonaws.com/glad_prod/ti...,handler
6105,6105,12,2383,2194,-12.769115,29.487477,'NoneType' object is not iterable,service
2252,2252,12,2266,2192,-12.597623,19.204274,"Could not connect to the endpoint URL: ""https:...",service
3377,3377,12,2299,2195,-12.854817,22.104665,http://wri-tiles.s3.amazonaws.com/glad_prod/ti...,handler
2106,2106,12,2261,2216,-14.647535,18.764821,http://wri-tiles.s3.amazonaws.com/glad_prod/ti...,handler
2659,2659,12,2278,2191,-12.511834,20.258961,http://wri-tiles.s3.amazonaws.com/glad_prod/ti...,handler
6395,6395,12,2392,2190,-12.426016,30.278493,http://wri-tiles.s3.amazonaws.com/glad_prod/ti...,handler
2168,2168,12,2263,2210,-14.136743,18.940602,http://wri-tiles.s3.amazonaws.com/glad_prod/ti...,handler
1529,1529,12,2244,2217,-14.732553,17.270680,http://wri-tiles.s3.amazonaws.com/glad_prod/ti...,handler
2338,2338,12,2268,2210,-14.136743,19.380055,http://wri-tiles.s3.amazonaws.com/glad_prod/ti...,handler

In [15]:
print(c.view().shape)
c.view().sample(10)

(300, 9)

,count,area,min_date,max_date,latitude,longitude,x,y,timestamp
126,88,135,20170319,20180109,-12.423997,28.533433,2372,2190,20180131::01:31:28
277,43,157,20170318,20180116,-12.416255,27.768612,2363,2190,20180131::01:31:23
163,61,204,20170826,20180109,-12.256991,28.060547,2367,2188,20180131::01:31:28
32,57,170,20150510,20180109,-12.009992,28.033318,2366,2185,20180131::01:31:35
165,36,303,20170505,20180108,-12.093586,27.855813,2364,2186,20180131::01:31:28
295,34,183,20170723,20171206,-11.885227,26.208295,2346,2184,20180131::01:31:21
183,27,332,20170514,20180109,-12.444192,28.429343,2371,2190,20180131::01:31:27
146,25,47,20170717,20171122,-12.213875,28.086397,2367,2188,20180131::01:31:28
103,103,984,20170507,20180109,-12.218254,29.474035,2383,2188,20180131::01:31:30
8,35,214,20170826,20171122,-12.287302,28.426585,2371,2188,20180131::01:32:02

In [16]:
c.scale(down=True)

u'UPDATING'